<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> College Management System</h1>
    <p> Welcome to the College Portal</p>
    <nav>
        <a href="{% url 'students:home' 'welcome' %}">Students Portal</a>
        <a href="{% url 'teachers:home' 'welcome' %}">Teacher Portal</a>
        <a href="{% url 'signup' %}">Sign UP</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'logout' %}">Logout</a>

    </nav>
</body>

</html>