<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav align="right">
        <a href="{%url 'teachers:home' 'welcome' %}">Back</a>
    </nav>
    <h1>Teachers List</h1>
    <nav align="left">
        <a href="{%url 'teachers:add'%}">Click to Add Teacher</a>
    </nav>
    <table border="2">
        <tr>
            <td colspan="2">Teacher Details</td>
        </tr>
        <tr>
            <td>Teacher Name</td>
            <td>Department</td>
        </tr>
        {% for teach in data %}
        <tr>
            <td>
                {{teach.teachername}}
            </td>
            <td>{{teach.department}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>